
        .navbar{
            text-align: center;
            width: 100%;
            background-color:black;
            opacity: 0.7;
            
           }

        .navbar ul {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
        }
        .navbar ul li a {
            display: block;
            padding: 19px;
            color:white;
            font-weight: bolder;
            word-spacing: 3px;
            text-decoration: none;
            width: 140px;
        }
        .navbar ul:after {
            content: ""; 
            clear:both;
            display: block;
        }
        .navbar ul li {
            float: left;
            list-style: none;
            
        }
        .navbar ul ul {
            display: none;
            
        }
        .navbar ul li:hover>ul{
            display: block;
        }
        .navbar ul li:hover{
            background: black;
            transition: 0.9s;
        }
        .navbar ul li:hover a {
            color: lightgreen;
        }
        .navbar ul ul {
            background: black;
            padding: 0;
            margin: 0;
            position: absolute; top: 100%;
        }
        
        .navbar ul ul li{
            float: none;
            position: relative;
        }
        
        .navbar ul ul li  a {
            padding: 15px;
            color: white;
            width: 300px;
            text-align: left;
            
        }
        .navbar ul ul li a:hover{
            background:rgb(101, 101, 101);
            color: black;
            transition: 0.9s;
        }
         
         
           img{
         height: 400px;
         padding:40px;
    
         shape-margin:round;
         background-color:rgba(111,111,111, 0.6);
         position: absolute;
         left:200px;
         top: 350px;
                  
             
         }

         .text1{
                position: absolute;
                left: 700px;
                top: 350px;
                width: 700px;
                background-color: rgba(111,111,111,0.3);
                padding: 50px;
                height: 380px;
                color: azure;
         }
         .text2{
             position: absolute;
             left:100px;
             top: 170px;
             font-size: 80px;
             background-color:rgba(111,111,922,0.4);
           
             padding-left: 100px;
             padding-right: 500px;
             padding-top: 40px;
             padding-bottom: 35px;
             border-bottom: 3px solid black;
             opacity: 0.8;
             color: aliceblue;
         }
          
    
               }
          
            

.text4{
    position:relative;
    margin-left: 300px;
}
        
        
        